@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Playfair+Display:wght@400;700&display=swap');

/* Stili per il layout flessibile */
body {
    background-color:#fffeef;
    color: #22346e;
}

.container {
    display: flex; /* Utilizza il layout flessibile */
    align-items: center; /* Allinea verticalmente al centro */
    flex-wrap: wrap; /* Permette agli elementi di andare a capo se non c'è abbastanza spazio */
    margin-top: 2.55%;
    margin-left: 2.55%;
}
.playfair-display-home-page {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    margin-left: 10px;
}
.small-hr {
    width: 300px; /* Specifica la larghezza desiderata */
    margin: 20px auto; /* Centra l'elemento orizzontalmente */
    border: 1px solid #22346e; /* Puoi personalizzare lo stile del bordo */
    align-items: center; /* Allinea verticalmente al centro */
}
.no-link-color {
    text-decoration: none;
    color: inherit;
}
@media (max-width: 1080px) {
    .container {
        flex-direction: column; /* Imposta la direzione principale del layout flessibile in verticale */
        margin-top: 20.55%;
        margin-left: 2.55%;
        zoom: 1.7;
    }
}